<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag "email" %>
  <%= text_field_tag "email" %>

  <%= label_tag "name" %>
  <%= text_field_tag "name" %>

  <%= label_tag "japanese_name" %>
  <%= text_field_tag "japanese_name" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
