<p style="color: green"><%= notice %></p>

<h1>Submissions</h1>

<%= link_to "< #{day_before}", submissions_path(date: day_before.strftime("%Y-%m-%d")) %>
<span><%= day_current.strftime("%Y-%m-%d") %></span>
<% unless day_current == Date.today %>
  <%= link_to "#{day_after} >", submissions_path(date: day_after.strftime("%Y-%m-%d")) %>
<% end %>

<div id="submissions">
  <% @submissions.each do |submission| %>
    <%= render submission %>
    <p>
      <%= link_to "Show this submission", submission %>
    </p>
  <% end %>
</div>

<%= link_to "New submission", new_submission_path %>
<br />
<%= link_to "Go home", root_path %>
